body {
    font-size:12px;
}

header {
    h1.title {
        background-color:#000;
        color: #fff;
    }
    border-bottom: 1em solid #FCB040;
}

div.content {
    background-color: #FCB040;
}

div.route {
    .bus {
        font-size: .8em;
    }
}

div.info {
    margin-left: 2em;
}

div#map {
    height:1920px;
    width:1080px;
}

.stop-icon {
    background-color: #FCB040;
    border:1px solid #000;
    text-align:center;
}
