body {
}

header {
    h1.title {
        background-color:#000;
        color: #fff;
    }
}

div.content {
    background-color: #FCB040;
    .table-view {
        background-color:#f0f0f0;
    }
}
