# {{ ansible_managed }}

upstream {{ application.hostname }} {
    server 127.0.0.1:{{ application.port }};
}

server {
    listen [::]:80;
    listen 80;
    server_name {{ application.hostname }};
    charset utf-8;

    root {{ application.deploy.app_path }}/current;

    access_log /var/log/nginx/{{ application.hostname }}-access.log;
    error_log /var/log/nginx/{{ application.hostname }}-error.log;

    client_max_body_size 20M;

    gzip on;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_comp_level 6;
    gzip_proxied any;
    gzip_min_length  1100;
    gzip_buffers 16 8k;
    gzip_types text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_disable "MSIE [1-6].(?!.*SV1)";

    location = /robots.txt  { access_log off; log_not_found off; }
    location = /favicon.ico { access_log off; log_not_found off; }

    location /static {
        alias {{ application.deploy.static_path }};
    }

    location / {
        add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google-analytics.com; img-src 'self' http://www.google-analytics.com http://*.basemaps.cartocdn.com; style-src 'self' 'unsafe-inline' https://assets.zendesk.com https://fonts.googleapis.com https://assets.zendesk.com; font-src 'self' https://themes.googleusercontent.com http://www.google-analytics.com; object-src 'none'";

        include /etc/nginx/uwsgi_params;
        uwsgi_pass {{ application.hostname }};
        uwsgi_param Host $host;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
        uwsgi_read_timeout 30;
        uwsgi_send_timeout 30;
    }
}
