# {{ ansible_managed }}

[uwsgi]
master = true
threads = 40
socket = :{{ application.port }}
chdir = {{ application.deploy.app_path }}/current
module = config.wsgi:application
virtualenv = {{ application.deploy.venvs_path }}/current
uid = {{ application.user }}
gid = {{ application.group }}
logto = /var/log/uwsgi/%n.log
buffer-size = 32768
max-requests = 5000
harakiri = 30
enable-threads = True

{% if item.envs is defined and item.envs and item.envs is not none %}
{% for env_var, env_value in item.envs.items() %}
env = {{ env_var | upper }}={{ env_value }}
{% endfor %}
{% endif %}
