{% extends 'base.html' %}

{% block page_title %}
Stop {{ stop.stop_id }} @ {{ stop.name }}
{% endblock page_title %}

{% block content %}
<div class="list-block">
    <ul>
      {% for route_name in route_names %}
      <li class="item-content">
        <div class="item-inner">
            <div class="item-title">{{ route_name }}</div>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>

<div class="list-block">
  <ul>
  {% for arrival in  arrivals %}
    <li class="item-content">
    {% if arrival.vehicle != '???' %}
    <a href="{% url 'thebus:stop_bus_map' stop.stop_id arrival.route arrival.vehicle arrival.trip %}" data-transition="slide-in">
    {% endif %}
    <div class="route item-media">
        <h1>{{ arrival.route }}</h1>
        <p class="bus">
            {% if arrival.vehicle == '???' %}
            No GPS
            {% else %}
            Bus {{ arrival.vehicle }}
            {% endif %}
        </p>
    </div>
    <div class="info item-inner">
        <h3 class="headsign item-title">{{ arrival.headsign }}</h3>
        <p class="arrival_time">
            <span class="label">{{ arrival.stopTime }}</span>
        </p>
    </div>
    {% if arrival.vehicle != '???' %}
    </a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
