{% extends 'base.html' %}

{% block content %}
<ul class="table-view">
  <li class="table-view-cell">
  </li>
</ul>

<ul class="table-view">
  {% for arrival in  arrivals %}
  <li class="table-view-cell">
    <a class="navigate-right">
    <div class="route pull-left">
        <h1>{{ arrival.route }}</h1>
        <p class="bus">
            {% if arrival.vehicle == '???' %}
            No GPS
            {% else %}
            Bus {{ arrival.vehicle }}
            {% endif %}
        </p>
    </div>
    <div class="info pull-left">
        <h4 class="headsign">{{ arrival.headsign }}</h4>
        <p class="arrival_time ui-li-desc">
        <span class="label wait">{{ arrival.stopTime }}</span>
        </p>
    </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
