{% extends 'base.html' %}

{% block page_title %}
Stop {{ stop.stop_id }} @ {{ stop.name }}
{% endblock page_title %}

{% block content %}
<ul class="table-view">
  <li class="table-view-cell">
  {% for route_name in route_names %}
  {{ route_name }}
  {% endfor %}
  </li>
</ul>

<ul class="table-view">
  {% for arrival in  arrivals %}
  <li class="table-view-cell">
    {% if arrival.vehicle != '???' %}
    <a class="navigate-right" href="{% url 'thebus:stop_bus_map' stop.stop_id arrival.route arrival.vehicle arrival.trip %}" data-ignore="push"> 
    {% endif %}
    <div class="route pull-left">
        <h1>{{ arrival.route }}</h1>
        <p class="bus">
            {% if arrival.vehicle == '???' %}
            No GPS
            {% else %}
            Bus {{ arrival.vehicle }}
            {% endif %}
        </p>
    </div>
    <div class="info pull-left">
        <h4 class="headsign">{{ arrival.headsign }}</h4>
        <p class="arrival_time ui-li-desc">
        <span class="label wait">{{ arrival.stopTime }}</span>
        </p>
    </div>
    {% if arrival.vehicle != '???' %}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
