{% load compress %}{% load staticfiles i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}allb.us{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">

    {% compress css %}
    {% block css %}
    <link href="{% static 'scss/project.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endblock css %}
    {% endcompress %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    {% compress js %}
    {% block compressed-js %}
    {% endblock compressed-js %}
    {% endcompress %}

    {% block inline-js %}
    {% endblock inline-js %}
  </body>
</html>
