{% load compress %}{% load staticfiles i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}allb.us{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">

    {% compress css %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'bower_components/Framework7/dist/css/framework7.material.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bower_components/Framework7/dist/css/framework7.material.colors.min.css' %}"/>
    <link href="{% static 'scss/project.scss' %}" rel="stylesheet" type="text/x-scss"/>
    {% endblock css %}
    {% endcompress %}
  </head>
  <body>
    <div class="views">
      <div class="view view-main">
        <div class="pages navbar-fixed toolbar-fixed">
          <div data-page="index" class="page">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="center">All Bus</div>
              </div>
            </div>

            <div class="page-content">
            {% block content %}
              <p>Page content goes here</p>
            {% endblock content %}
            </div>

          </div>
        </div>
      </div>
    </div>

    {% compress js %}
    {% block compressed-js %}
    <script type="text/javascript" src="{% static 'bower_components/Framework7/dist/js/framework7.min.js' %}"/>
    {% endblock compressed-js %}
    {% endcompress %}

    {% block inline-js %}
    {% endblock inline-js %}
  </body>
</html>
