{% load compress %}{% load staticfiles i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}allb.us{% endblock title %}</title>

    <meta name="title" content="allbus">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {% compress css %}
    {% block css %}
    <link href="{% static 'css/ratchet.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'scss/project.scss' %}" rel="stylesheet" type="text/x-scss"/>
    {% endblock css %}
    {% endcompress %}
  </head>
  <body>
    <header class="bar bar-nav">
        <h1 class="title">AllBus</h1>
    </header>

    <div class="content">
        {% block content %}{% endblock content %}
    </div>

    {% compress js %}
    {% block javascript %}
        <script src="{% static 'js/ratchet.min.js' %}"></script>
    {% endblock javascript %}
    {% endcompress %}
  </body>
</html>
